<!DOCTYPE html>
<html>
    <head>
        <title> 🌱 Sudoku Game </title>
    </head>
    <body>
        <main>
            <h1> Welcome to Nana's Sudoku Game! </h1>
            <p> Like any other Sudoku game, you can choose three difficulty levels: Easy, Medium, Hard. </p>
            <p> Select any level and a random game will pop up, so enjoy playing 🎮. </p> 
            <p> p.s be careful, you only have three lives 🐈‍⬛. </p>

            <!-- START GAME BUTTON -->

            <a href="/play?difficulty=easy">
                <button>Easy</button>
            </a>
            <a href="/play?difficulty=medium">
                <button>Medium</button>
            </a>
            <a href="/play?difficulty=hard">
                <button>Hard</button>
            </a>
        </main>
    </body>
</html>
